<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de compras | Inicio </title>
    <div th:replace="/partials/scripts :: link"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="/partials/navbar"></div>
        <div th:replace="/partials/sidebar"></div>
        <div class="container">

        </div>
    </div>
    <div th:replace="/partials/footer"></div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <div th:replace="/partials/scripts :: script"></div>
</body>

</html>