<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar solicitud</title>
</head>
<body>
    <h1>Editar solicitud</h1>
    <form th:action="@{/guardar}" method="post" th:object="${solicitud}">
        <label for="nombre">Nombre art&iacuteculo</label>
        <input type="text" id="nombre" name="nombre" th:value="${nombreArt}">
        <label for="unidad">Unidad</label>
        <input type="text" id="unidad" name="unidad" th:value="${unidad}">${solicitud.unidad}
        <label for="cantidad">Unidad</label>
        <input type="text" id="cantidad" name="cantidad" th:value="${cantidad}">
        <label for="estado">Unidad</label>
        <input type="text" id="estado" name="estado" th:value="${estado}">
        <input type="submit" value="Guardar">
    </form>
</body>
</html>