<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Art&iacute;culos</title>
</head>
<body>
    <h1>Art&iacute;culos</h1>
    <a th:href="@{'/nueva'}">Nuevo art&iacute;culo</a>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Nombre art&iacuteculo</th>
            <th>Precio</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <!--<th>Unidad</th>-->
            <th>Porcentaje descuento</th>
            <th>Acci&oacute;n</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="articulo : ${lista_articulos}">
            <td th:text="${articulo.nombre}">Product ID</td>
            <td th:text="${articulo.precio}">Name</td>
            <td th:text="${articulo.fechaInicio}">Brand</td>
            <td th:text="${articulo.fechaFinal}">Brand</td>
            <!-- <td th:text="${articulos.}">Brand</td> -->
            <td th:text="${articulo.porcentajeDesc}">Brand</td>
            <td th:text="${articulo.periodoGracia}">Brand</td>
            <td>
                <a th:href="@{'/editar/' + ${articulo.idArticulo}}">Editar</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/eliminar/' + ${articulo.idArticulo}}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>