<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar art&iacute;culo</title>
    <div th:replace="/partials/scripts :: link"></div>
</head>
<body>
    <div class="col-md-8">
    <div class="container">
    <h1>Editar art&iacute;culo</h1>
    <a th:href="@{/inventario}">Atr&aacute;s</a>
    <form action="#" th:action="@{/guardarAticulo}" method="post" th:object="${articulo}">
        <label for="nombre" class="form-label">Nombre art&iacuteculo</label>
        <input type="text" id="nombre" name="nombre" th:value="*{nombre}" class="form-control">
        <label for="precio" class="form-label">Precio</label>
        <input type="text" id="precio" name="precio" th:value="*{precio}" class="form-control">
        <label for="fechIni" class="form-label">Fecha inicio</label>
        <input type="text" id="fechIni" name="fechIni" th:value="*{fechaInicio}" class="form-control">
        <label for="fechFin" class="form-label">Fecha final</label>
        <input type="text" id="fechFin" name="fechFin" th:value="*{fechaFinal}" class="form-control">
        <!--<label for="unidad" class="form-label">Unidad</label>
        <input type="text" id="unidad" name="unidad" th:value="*{unidad}" class="form-control">-->
        <label for="porcDes" class="form-label">Porcentaje descuento</label>
        <input type="text" id="porcDes" name="porcDes" th:value="*{porcentajeDesc}" class="form-control">       
        <label for="perGra" class="form-label">Periodo de gracia</label>
        <input type="text" id="perGra" name="perGra" th:value="*{periodoGracia}" class="form-control"> 
        <input type="submit" value="Guardar">
    </div>
    </div>
    </form>
    <footer th:replace="/partials/footer"></footer>
</body>
</html>