<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Art&iacute;culos</title>
    <div th:replace="/partials/scripts::link"></div>
</head>
<body>
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
    <h1>Art&iacute;culos Empresa</h1>
    <a th:href="@{/inicio}">Atr&aacute;s</a><br>
    <a th:href="@{'/nuevoArticulo'}">Nuevo art&iacute;culo</a>
            </div>
            <div class="card-body">
    <table class="table">
        <thead>
        <tr>
            <th>Nombre art&iacuteculo</th>
            <th>Precio de compra</th>
             
            
        
        </tr>
        </thead>
        <tbody>
        <tr th:each="articulo : ${lista_articulos}">
            <td th:text="${articulo.nombre}">Product ID</td>
            <td th:text="${articulo.precio}">Name</td>
                        
        </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
    <footer th:replace="/partials/footer"></footer>
</body>
</html>