<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva solicitud</title>
    <div th:replace="/partials/scripts :: link"></div>
</head>
<body>
    <div class="col-md-8">
    <div class="container">
    <h1>Nueva solicitud</h1>
    <a th:href="@{/inventarioe}">Atr&aacute;s</a>
    <form action="#" th:action="@{/guardarArticuloe}" method="post" th:object="${articulo}">
        <label for="nombre" class="form-label">Nombre art&iacuteculo</label>
        <input type="text" id="nombre" name="nombre" th:value="*{nombre}" class="form-control">
        <label for="precio" class="form-label">Precio</label>      
       
        <input type="text" id="precio" name="precio" th:value="*{precio}" class="form-control">
       
        <input type="submit" value="Guardar" class="btn btn-primary">
        
    </form>
    </div>
    </div>
    <footer th:replace="/partials/footer"></footer>
</body>
</html>